html,
body {
	margin: 0;
	padding: 0;
	font-family: Tahoma, Arial, sans-serif, 'Microsoft YaHei';
	box-sizing: border-box;
}

::-webkit-scrollbar {
	display: none;
}

* {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

[v-cloak] {
	display: none;
}


/* 自定义全局 */
.el-form-item__label {
	width: 40px;
}

.ylmty {
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
	background: #ffffff80;
	border-radius: .25rem;
}

.body.ylmty {
	margin-top: 10px;
}


.el-breadcrumb__item:last-child .el-breadcrumb__inner {
	color: #409eff;
}

.el-breadcrumb__item:last-child .el-breadcrumb__inner:hover {
	color: #409eff;
}

/* .el-tabs__content {
    width: 920px;
    padding: 10px;
    overflow: hidden;
    position: relative;
} */

.el-divider--vertical {
	margin: 0;
	height: 0;
	width: 0px;
	height: 1rem;
}

.el-divider--horizontal{
	margin: 0;
	height: 0;
}

h5 {
	margin: 0;
}

p {
	margin: 5px 0;
}

.el-col-6 {
	display: flex;
	align-items: center;
}

span._drop {
	font-size: 7px;
	height: 2px;
	width: 2px;
	background: #eff1fa;
	margin: 0 3px;
	display: inline-block;
}

#root {
	min-height: 100vh;
	position: relative;
	background-color: rgb(255, 255, 255);
	overflow: hidden;
}

.el-form-item__label{
    width: auto !important;
}